@page "/TopFive"
@using SEIIApp.Shared
@inject SEIIApp.Client.Services.PostServiceAccess PostServiceAccess

<style>

    #navigation a {
        padding: 8px;
    }
</style>
<div id="navigation">
    <a href="ForumMainPage">Forum</a>
    <a href="post">Posts</a>
    <a href="upload">Upload</a>
</div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank Number</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">UploadDate</th>
                    <th scope="col">View Post</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            @if (posts != null)
            {
                int rank = 1;
                @foreach (PostDto post in posts)
                {
                    <tbody>
                        <tr>
                            <td>@rank</td>
                            <td>@post.Title</td>
                            <td>@post.Category</td>
                            <td>@post.UploadDate</td>

                            <td>
                                <div id="navigation">
                                    <a href="/post/viewPost/@post.PostId">Link</a>
                                </div>
                            </td>
                            <td>@post.Likes</td>

                            <td><a id="button" class="btn btn-primary" href="see Comments" role="button">see Comments</a></td>
                        </tr>
                    </tbody>
                    rank = rank + 1; 
                }
            }
            </table>
  


@code {
    PostDto[] posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var ps = await PostServiceAccess.GetAllPosts();
        posts = ps.OrderByDescending(p => p.Likes).Take(5).ToArray();
    }


}

